{{#if user}}
<div class="container shadow p-3 rounded bg-white">
    <h2 class="text-center">Welcome Back, {{user.firstName}}!<br><a href="/" class="btn btn-warning backBtn mt-3">Back</a></h2>
    
</div>
{{/if}}