*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: rgb(221, 221, 221);
}

.contain {
  max-width: 500px;
  text-align: center;
}

#access-denied {
  margin-top: 20px;
  color: red;
  font-size: 0.8em;
  font-weight: bolder;
  text-align: start;
}